.btn {
  padding: rem(21px) rem(41px);
  background: $yellow;
  border-radius: rem(100px);
  width: rem(156px);
  text-transform: uppercase;
  font-weight: 800;
  border: none;

  &:hover {
    background-color: $yellow_hover;
    cursor: pointer;
  }

  &--transparent {
    background: transparent;
    color: #fff;

    &:hover {
      color: $yellow_hover;
      background: transparent;
    }
  }
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: rem(48px);
  line-height: rem(58px);
  color: $black;
  text-transform: uppercase;

  &--white {
    color: #fff;
  }

  &--title {
    font-size: rem(36px);
  }

  @include phones {
    font-size: rem(40px);
    line-height: rem(36px);
  }
}
