@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
@import "https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,500;1,700&display=swap";
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

body {
  font-family: "Alegreya Sans", Arial;
  line-height: 1.42;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  height: 100vh;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.btn {
  padding: 1.1666666667rem 2.2777777778rem;
  background: #fedb3f;
  border-radius: 5.5555555556rem;
  width: 8.6666666667rem;
  text-transform: uppercase;
  font-weight: 800;
  border: none;
}
.btn:hover {
  background-color: #ffd517;
  cursor: pointer;
}
.btn--transparent {
  background: transparent;
  color: #fff;
}
.btn--transparent:hover {
  color: #ffd517;
  background: transparent;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 2.6666666667rem;
  line-height: 3.2222222222rem;
  color: #292929;
  text-transform: uppercase;
}
.title--white {
  color: #fff;
}
@media screen and (max-width: 480px) {
  .title {
    font-size: 2.2222222222rem;
    line-height: 2rem;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5.7222222222rem;
}
@media screen and (max-width: 768px) {
  .header {
    background-color: #1968b1;
    padding: 1.6666666667rem 1.4444444444rem;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .header {
    padding: 1.3333333333rem 1.4444444444rem;
  }
}
.header__logo {
  width: 3.1111111111rem;
  height: 2.2222222222rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__item {
  margin-right: 1.2222222222rem;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts__icon {
  margin-right: 0.3333333333rem;
  width: 0.7222222222rem;
  height: 0.7222222222rem;
}
@media screen and (max-width: 768px) {
  .contacts {
    display: none;
  }
}

.welcome {
  color: #fff;
  background: url("../../images/welcome-bg.png") center center no-repeat;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .welcome {
    background-position: 90% 40px;
  }
}
.welcome__container {
  padding-bottom: 3.6666666667rem;
  padding-top: 1.5555555556rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .welcome__container {
    padding-bottom: 0;
    padding-top: 0;
    width: 100%;
  }
}
.welcome__title {
  font-weight: 700;
  font-size: 2.6666666667rem;
  margin-bottom: 0.9444444444rem;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .welcome__title-wrap {
    margin-bottom: 0.5555555556rem;
  }
}
@media screen and (max-width: 768px) {
  .welcome__title {
    width: 95%;
    margin: 0 auto;
    font-size: 2.6666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .welcome__title {
    font-size: 2.2222222222rem;
  }
}
.welcome__desc {
  margin-bottom: 2.1666666667rem;
  font-size: 1.1666666667rem;
}
.welcome__content {
  margin-bottom: 3.5555555556rem;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .welcome__content {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
  }
}
.welcome__btn {
  display: block;
  width: 8.6666666667rem;
  text-transform: uppercase;
  color: #000;
  font-weight: 800;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.8888888889rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .features {
    display: none;
  }
}

.feature__icon {
  margin-right: 0.7777777778rem;
  width: 2.5rem;
  height: 2.5rem;
}
.feature__text {
  max-width: 4.7222222222rem;
}

.advantages__desc {
  color: #666666;
  padding: 0 17%;
}
@media screen and (max-width: 480px) {
  .advantages__desc {
    padding: 0;
  }
}
.advantages__title-wrap {
  margin-bottom: 0.9444444444rem;
}
@media screen and (max-width: 480px) {
  .advantages__title {
    margin-bottom: 0.5555555556rem;
  }
}
.advantages__benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .advantages__benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.advantages__headline {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2.7777777778rem;
}

.benefits__item {
  padding: 0 1%;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:first-child {
  padding-left: 0;
}

.benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
}
.benefit:after {
  content: url("../../images/icons/shapes.svg");
  position: absolute;
  top: 3.3333333333rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.benefit:last-child:after {
  display: none;
}
@media screen and (max-width: 768px) {
  .benefit:after {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .benefit {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
    margin-bottom: 30px;
  }
  .benefit:last-child {
    margin-bottom: 0;
  }
}
.benefit__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 3.3333333333rem;
  height: 3.3333333333rem;
}
.benefit__icon-wrap {
  display: inline-block;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  border-radius: 50%;
  background: #f2f5f4;
  position: relative;
  margin-bottom: 1.1111111111rem;
  overflow: hidden;
}
.benefit__title {
  color: #292929;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.7777777778rem;
  margin-bottom: 1.1111111111rem;
}
.benefit__desc {
  color: #666666;
}

.reviews__title-wrap {
  text-align: center;
  margin-bottom: 1.7777777778rem;
}
.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.8333333333rem;
}
.reviews__authors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.review {
  background: #f8faf9;
  padding: 2.3333333333rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .review {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 95%;
    margin: 0 auto;
    padding: 42px 20px;
  }
}
.review__img {
  width: 14.0555555556rem;
  height: 14.6666666667rem;
}
@media screen and (max-width: 768px) {
  .review__img {
    width: 7.2222222222rem;
    height: 7.2222222222rem;
  }
}
.review__img-wrap {
  width: 100%;
  margin-right: 2.2222222222rem;
}
@media screen and (max-width: 768px) {
  .review__img-wrap {
    width: auto;
    margin-right: 0;
  }
}
.review__content {
  padding: 1.5555555556rem 0;
}
@media screen and (max-width: 768px) {
  .review__content {
    text-align: center;
  }
}
.review__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.7777777778rem;
  color: #292929;
  margin-bottom: 0.7777777778rem;
}
.review__text {
  color: #666666;
  margin-bottom: 1.3888888889rem;
  width: 80%;
}
@media screen and (max-width: 768px) {
  .review__text {
    width: 100%;
    text-align: center;
  }
}

.author {
  width: 4.1111111111rem;
  height: 4.1111111111rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.3333333333rem;
}
.author:last-child {
  margin-right: 0;
}
.author--active {
  border: 0.3333333333rem solid #fedb3f;
}

.delivery {
  background: url("../../images/form-bg.png") center center no-repeat;
  background-size: cover;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.7777777778rem;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 2.7777777778rem;
  }
}
@media screen and (max-width: 480px) {
  .form {
    width: 100%;
  }
}
.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}
.form__col:last-child {
  margin-right: 0;
}
.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.6666666667rem;
}
@media screen and (max-width: 480px) {
  .form__row {
    margin-bottom: 0.7777777778rem;
  }
}
.form__label {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.1111111111rem;
}
.form__label:last-child {
  margin-right: 0;
}
.form__title {
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.form__input {
  width: 100%;
  border: none;
  background: #ffffff;
  border-radius: 0.2222222222rem;
  padding: 1rem 0.6111111111rem;
  border: 0.1666666667rem solid transparent;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.5555555556rem 0.4444444444rem;
  }
}
.form__input--textarea {
  height: 9.2777777778rem;
  resize: none;
}
.form__input:focus {
  border: 0.1666666667rem solid #fedb3f;
  outline: none;
}
.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1.1111111111rem;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.form__controls:last-child {
  margin-bottom: 0;
}
.form__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  margin-right: 0.5555555556rem;
}
.form__radio:last-child {
  margin-right: 0;
}
.form__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  .form__actions {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.radio__input {
  display: none;
}
.radio__input:checked ~ .radio__visible:before {
  display: block;
}
.radio__visible {
  height: 1.4444444444rem;
  width: 1.4444444444rem;
  position: relative;
  background: white;
  border-radius: 50%;
  margin-right: 0.5555555556rem;
}
.radio__visible:before {
  content: "";
  display: none;
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #fedb3f;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form__radio-checkbox .radio__visible {
  border-radius: 0;
}
.form__radio-checkbox .radio__visible:before {
  background: url("../../images/icons/tick.svg") center center no-repeat;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
}
.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}
.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.map {
  background: url("../../images/map-bg.png") center center no-repeat;
  background-size: cover;
  position: relative;
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 1.3333333333rem 4.4444444444rem;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.phone__icon {
  width: 12px;
  height: 12px;
  fill: #000;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social {
  margin-right: 14px;
}
.social:last-child {
  margin-right: 0;
}
.social__link {
  display: block;
}
.social__icon {
  width: 20px;
  height: 20px;
  color: #666666;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.social__icon:hover {
  color: #292929;
}