.map {
  // background: url("../../images/map-bg.png") center center no-repeat;
  // background-size: cover;
  position: relative;
}

.footer {
  position: absolute;
  bottom: 0;
  padding: rem(24px) rem(80px);
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 100;
}

.phone__icon {
  width: 12px;
  height: 12px;
  fill: #000;
}

.socials {
  &__list {
    display: flex;
  }
}

.social {
  margin-right: 14px;

  &:last-child {
    margin-right: 0;
  }

  &__link {
    display: block;
  }

  &__icon {
    width: 20px;
    height: 20px;
    color: $grey;
    transition: 0.3s;
    fill: $grey;

    &:hover {
      fill: $black;
    }
  }
}
