.products {
  background: url("../../images/menu-bg.png") center center no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;

  &__list {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
  }

  &__container {
    position: relative;
  }

  &__title {
    &-wrap {
      position: absolute;
      top: 20%;
      left: 10%;
    }
  }
}

.product {
  display: flex;

  &:hover {
    cursor: pointer;
  }

  &__link {
    position: relative;
    width: rem(100px);

    @include tablets {
      width: rem(90px);
    }
  }

  &__img {
    height: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: 0 0;
    white-space: nowrap;
    line-height: 1;
    font-size: rem(48px);
    font-weight: 700;
    color: #fff;
  }

  &__content {
    width: 0;
    background: rgba(51, 53, 55, 0.9);
    overflow: hidden;
  }

  &__text {
    padding: rem(30px);
  }
}
