.reviews {
  &__title {
    &-wrap {
      text-align: center;
      margin-bottom: rem(32px);
    }
  }

  &__list {
    display: flex;

    position: relative;

    &-wrap {
      background: #f8faf9;
      padding: rem(42px);
      min-height: 280px;
      margin-bottom: rem(15px);
    }
  }

  &__authors {
    display: flex;
    justify-content: center;
  }
}

.review {
  display: flex;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;

  &__active {
    position: static;
    pointer-events: unset;
    opacity: 1;
    transition: 0.3s;
  }

  @include tablets {
    flex-direction: column;
    align-items: center;

    width: 95%;
    margin: 0 auto;

    padding: 42px 20px;
  }

  &__img {
    width: rem(253px);
    height: rem(264px);

    @include tablets {
      width: rem(130px);
      height: rem(130px);
    }

    &-wrap {
      width: 100%;
      margin-right: rem(40px);

      @include tablets {
        width: auto;
        margin-right: 0;
      }
    }
  }

  &__content {
    padding: rem(28px) 0;
    @include tablets {
      text-align: center;
    }
  }

  &__title {
    font-weight: 700;
    font-size: rem(27px);
    line-height: rem(32px);
    color: $black;
    margin-bottom: rem(14px);
  }

  &__text {
    color: $grey;
    margin-bottom: rem(25px);
    width: 80%;

    @include tablets {
      width: 100%;
      text-align: center;
    }
  }
}

.author {
  width: rem(74px);
  height: rem(74px);
  border-radius: 50%;
  overflow: hidden;
  margin-right: rem(6px);

  &:last-child {
    margin-right: 0;
  }

  &--active {
    border: rem(6px) solid $yellow;
  }

  &:hover {
    border: rem(6px) solid $yellow;
    cursor: pointer;
  }
}
