.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: rem(103px);

  @include tablets {
    background-color: #1968b1;
    padding: rem(30px) rem(26px);
    margin-bottom: 0;
  }

  @include phones {
    padding: rem(24px) rem(26px);
  }

  &__logo {
    width: rem(56px);
    height: rem(40px);
    fill: #fff;
  }

  &__burger {
    display: none;

    @include tablets {
      display: block;
    }
  }
}

.burger {
  &:hover {
    cursor: pointer;
  }
  &__item {
    width: 20px;
    height: 4px;
    border-radius: 10px;
    background: white;
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
.menu {
  display: flex;

  &__item {
    margin-right: rem(22px);
    font-weight: 700;
  }

  @include tablets {
    display: none;
  }
}

.contacts {
  display: flex;
  align-items: center;

  &__icon {
    margin-right: rem(6px);
    width: rem(13px);
    height: rem(13px);
    fill: #fff;
  }

  @include tablets {
    display: none;
  }
}

.welcome {
  color: #fff;
  background: url("../../images/welcome-bg.png") center center no-repeat;
  background-size: cover;

  @include tablets {
    background-position: 90% 40px;
  }

  &__container {
    padding-bottom: rem(66px);
    padding-top: rem(28px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablets {
      padding-bottom: 0;
      padding-top: 0;
      width: 100%;
    }
  }

  &__title {
    font-weight: 700;
    font-size: rem(48px);
    margin-bottom: rem(17px);
    text-transform: uppercase;

    &-wrap {
      @include tablets {
        margin-bottom: rem(10px);
      }
    }

    @include tablets {
      width: 95%;
      margin: 0 auto;
      font-size: rem(48px);
    }

    @include phones {
      font-size: rem(40px);
    }
  }

  &__desc {
    margin-bottom: rem(39px);
    font-size: rem(21px);
  }

  &__content {
    margin-bottom: rem(64px);
    width: 50%;

    @include tablets {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
    }
  }

  &__btn {
    display: block;
    width: rem(156px);
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
  }
}

.features {
  &__list {
    display: flex;
  }

  &__item {
    display: flex;
    margin-right: rem(34px);
    align-items: center;
  }

  @include tablets {
    display: none;
  }
}

.feature {
  &__icon {
    margin-right: rem(14px);
    width: rem(45px);
    height: rem(45px);
    fill: #fff;
  }

  &__text {
    max-width: rem(85px);
  }
}
