.slider {
  background: #f8faf9;

  &__container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__arrow {
    top: 50%;

    position: absolute;

    @include tablets {
      top: 30%;
    }

    &:hover {
      cursor: pointer;
    }

    &--left {
      left: 0;
      @include tablets {
        left: 20%;
      }
      @include phones {
        left: 0%;
      }
    }
    &--right {
      rotate: 180deg;
      right: 0;
      @include tablets {
        right: 20%;
      }
      @include phones {
        right: 0%;
      }
    }

    &--icon {
      width: rem(24px);
      height: rem(40px);
    }
  }

  &__list {
    display: flex;

    &-wrap {
      width: rem(700px);
      overflow: hidden;
      display: flex;

      @include tablets {
        width: rem(520px);
      }

      @include phones {
        width: rem(350px);
      }
      // position: relative;
    }
  }

  &__item {
    width: rem(700px);
    @include tablets {
      width: rem(520px);
    }

    @include phones {
      width: rem(350px);
    }
  }
}

.slide {
  display: flex;
  justify-content: space-between;

  @include tablets {
    flex-direction: column;
    align-items: center;
  }

  &__img {
    &-wrap {
      width: 45%;

      @include tablets {
        width: 50%;
        display: flex;
        justify-content: center;
      }

      @include phones {
        width: 80%;
        margin-bottom: 35px;
      }
    }
  }

  &__content {
    width: 50%;

    @include tablets {
      width: 100%;
      // text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  &__title {
    &-wrap {
      margin-bottom: rem(24px);
    }
  }

  &__desc {
    color: $grey;
    margin-bottom: rem(24px);
  }

  &__params {
    background: #3a587e;
    padding: rem(17px) rem(7px);
    width: rem(90px);
    height: rem(90px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: rem(4px);
    margin-bottom: rem(52px);

    @include tablets {
      display: none;
    }

    &_img {
      width: 38px;
      height: 38px;
      color: white;
    }

    &_text {
      font-size: rem(14px);
      color: #fff;
      text-transform: uppercase;
    }
  }

  &__info {
    display: flex;
    margin-bottom: rem(24px);
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__price {
    font-size: rem(60px);
    margin-right: rem(28px);
  }

  &__button {
    width: rem(156px);
  }
}

.info {
  margin-right: rem(50px);
  &:last-child {
    margin-right: 0;
  }
  &__title {
    color: $grey;
  }

  &__text {
    font-weight: 700;
  }
}
